@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

.skill-category {
  text-align: center;

  .skill-title {
    background-color: #024f55;
    color: #F1F9FB;
    font-family: Rozha One;
    font-weight: 400;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .skill-circle {
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid #9bd8db;
    border-radius: 50%;
    margin: 0 auto;

    animation: spin 10s linear infinite;

    .skill-icon {
      position: absolute;

      img {
        animation: stay-upright 10s linear infinite;
        display: block;

      }
    }

    &.total-2 {
      $total-icons: 2;
      @for $i from 1 through $total-icons {
        .skill-icon:nth-child(#{$i}) {
          $angle: ($i - 1) * (360deg / $total-icons);
          top: calc(50% + 125px * cos($angle));
          left: calc(50% + 125px * sin($angle));
          transform: translate(-50%, -50%);
        }
      }
    }

    &.total-4 {
      $total-icons: 4;
      @for $i from 1 through $total-icons {
        .skill-icon:nth-child(#{$i}) {
          $angle: ($i - 1) * (360deg / $total-icons);
          top: calc(50% + 125px * cos($angle));
          left: calc(50% + 125px * sin($angle));
          transform: translate(-50%, -50%);
        }
      }
    }

    &.total-5 {
      $total-icons: 5;
      @for $i from 1 through $total-icons {
        .skill-icon:nth-child(#{$i}) {
          $angle: ($i - 1) * (360deg / $total-icons);
          top: calc(50% + 125px * cos($angle));
          left: calc(50% + 125px * sin($angle));
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes stay-upright {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}