@import '../../assets/styles/_variables.scss';

.skills {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 500px;
  background-color: $background-container-color;
  padding-bottom: 100px;

    h2 {
      font-family: $font-primary;
      font-size: 30px;
      color: $titre-color;
      text-decoration: underline;
      text-underline-offset: 10px;
      height: 30px;
      margin-bottom: 100px;
      margin-left: 220px;
    }
  
    .skills-categories {
      display: flex;
      justify-content: center;
      gap: 200px;
      align-items: center;
      flex-wrap: wrap;
    }
  }