@import '../../assets/styles/_variables.scss';

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  height: auto;
  background-color: $background-container-color;
  padding-bottom: 100px;

    h2 {
      font-family: $font-primary;
      font-size: 1.9rem;
      color: $titre-color;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      margin-bottom: 3rem;
    }
  
    .skills-categories {
      display: flex;
      justify-content: center;
      gap: 15rem;
      width: 70%;
      height: 70%;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1024px) {
    .skills .skills-categories {
      gap: 5rem;
    }
  }
