@import '../../assets/styles/_variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    padding: 20px 50px;
    position: relative;
  
    .App-logo-header {
      max-width: 120px;
      transition: transform 1s ease;
  
      &:hover {
        transform: rotate(360deg);
      }
    }
  
    .nav-list {
      display: flex;
      list-style: none;
      gap: 50px;
      font-family: $font-primary;
      font-size: 22px;
      font-weight: 700;
      color: $titre-color;
  
      li {
        cursor: pointer;
        transition: border-bottom 0.3s ease, color 0.3s ease;
        border-bottom: 3px solid transparent;
  
        &:hover {
          color: $texte-color;
          border-bottom-color: $texte-color;
        }
      }
    }
  
    .menu-icon {
      display: none;
      cursor: pointer;
      font-size: 28px;
      color: $titre-color;
      background: none;
      border: none;
  
      &:focus {
        outline: none;
      }
    }
  
    @media (max-width: 768px) {
      .nav-list {
        display: none; /* Masque la liste par défaut sur mobile */
        flex-direction: column;
        gap: 20px;
        background-color: $titre-color;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
  
      .nav-list.active {
        display: flex; /* Affiche la liste si le menu est ouvert */
      }
  
      .menu-icon {
        display: block; /* Affiche l'icône sur mobile */
      }
    }
  }
  