@import "../../assets/styles/_variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  padding: 10px 30px;
  position: relative;

  .App-logo-header {
    max-width: 120px;
    transition: transform 1s ease;

    &:hover {
      transform: rotate(360deg);
    }
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 28px;
    color: $titre-color;
    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);

    &:focus {
      outline: none;
    }
  }

  .nav-list {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-family: $font-primary;
    font-size: 22px;
    font-weight: 700;
    color: $titre-color;

    li {
      cursor: pointer;
      transition: border-bottom 0.3s ease, color 0.3s ease;
      border-bottom: 3px solid transparent;

      &:hover {
        color: $texte-color;
        border-bottom-color: $texte-color;
      }
    }
  }

  @media (max-width: 1024px) {
    .menu-icon {
      display: flex;
    }

    .nav-list {
      display: none;
      flex-direction: column;
      gap: 20px;
      background-color: $background-container-color;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-list.active {
      display: flex;
    }
  }

  @media (min-width: 1025px) {
    .menu-icon {
      display: none;
    }

    .nav-list {
      display: flex;
    }
  }
}
