@import '../../assets/styles/_variables.scss';

.footer-content {
  height: 10rem; /* Hauteur en rem */
  background-color: $background-container-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem; /* Padding en rem pour un espacement flexible */

  .footer-socials {
    display: flex;
    gap: 1.5rem; /* Espacement entre les icônes */
  }

  .icon-circle {
    width: 3rem; /* Taille du cercle en rem */
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;

    svg {
      font-size: 2rem; /* Taille de l'icône en rem */
      color: $background-color;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .icon-linkedin-circle {
    background-color: $texte-color;

    &:hover {
      background-color: lighten($texte-color, 10%);
      svg {
        color: #fff;
      }
    }
  }

  .icon-github-circle {
    background-color: $titre-color;

    &:hover {
      background-color: lighten($titre-color, 10%);
      svg {
        color: #fff;
      }
    }
  }

  p {
    font-size: 1rem; /* Taille du texte en rem */
    font-weight: 700;
    text-align: center;
    color: $titre-color;
  }

  .App-logo-footer {
    max-width: 6rem; /* Taille maximale du logo */
    transition: transform 1s ease;

    &:hover {
      transform: rotate(360deg);
    }
  }
}